[submodule "thirdparty/zenburn-emacs"]
	path = thirdparty/zenburn-emacs
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "thirdparty/multi-term"]
	path = thirdparty/multi-term
	url = git@github.com:mpavlinsky/multi-term.git
[submodule "thirdparty/git-modes"]
	path = thirdparty/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "thirdparty/magit"]
	path = thirdparty/magit
	url = git@github.com:magit/magit.git
[submodule "thirdparty/evil"]
	path = thirdparty/evil
	url = git@github.com:emacsmirror/evil.git
[submodule "thirdparty/undo-tree"]
	path = thirdparty/undo-tree
	url = git@github.com:emacsmirror/undo-tree.git
[submodule "thirdparty/exec-path-from-shell"]
	path = thirdparty/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
